* {
    box-sizing: border-box; margin: 0; padding: 0;
}
.clearfix::after {
    content: ''; display: table; clear: both;
  }
.container {
    max-width: 1200px; height: 500px; margin: 30px auto; 
}
header {
    background-color: #e579e6; height: 100px;
}
main {
    margin-bottom: 10px;
}
.yellowsection {
    background-color: #e1d67a; height: 400px; margin: 30px 0;
}
.hcontainer {
    height: 500px; margin-bottom: 30px;
}
.colorlightblue{
    background-color: #abcfe7; 
}
.float{
    float: left;
}
.headermain {
    height: 75px; margin-bottom: 30px;
}
.sidebar {
    width: 20%; height: 500px; 
}
.article {
    width: calc(60% - 60px); height: 500px; margin: 0 30px;
}
footer {
    background-color: #8701fe; height: 50px;
}
